<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <form>
        <h1 class="mb-4">Login</h1>
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" class="form-control" id="name" placeholder="Enter your name" required [(ngModel)]="name"
            [ngModelOptions]="{ standalone: true }">
        </div>
        <button type="submit" class="btn btn-primary" (click)="login()">Login</button>
      </form>
    </div>
  </div>
</div>
